.room-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  color :black
}

.room-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
}

.room-card h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.room-card p {
  margin: 4px 0;
}
