.room-card {
  background-color: #fffaf0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  width: 300px;
  margin: 20px;
}

.room-card:hover {
  transform: scale(1.03);
}

.room-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.room-info {
  padding: 15px;
}

.room-info h3 {
  color: #a0522d;
}

.room-info button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #dd7413;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
